@media only screen and (max-width: 500px) {

    .gap50px {
        gap: 0px !important;
    }

    .paddingfornav {
        padding: 0px !important;
        margin-top: 20px;
    }

    .navbar-toggler-icon {
        background-image: url(../imgs/burger.png) !important;
    }

    .btnf {
        width: 100%;
    }

    .tiredofthis {
        gap: 0px 10px;
        margin-top: 10px;
        flex-direction: column;
        width: 33%;
    }

    .btn200 {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }

    .inpemail {
        display: block;
        background: none;
        width: 100%;
    }

    .emailinput {
        width: 100%;
        height: 46px
    }

    .emailbtn {
        width: 100%;
        height: 46px;
        margin-top: 16px;
        
    }
}